.md_sectionTitleBlue {
	background: #1267a4;
	padding: 10px;
	width: 100%;
	color: #fff;
	margin-top:20px;
	margin-bottom:10px;
	text-align: center;
	font-size: 20px;
}

.md_sectionTitleLine{
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  color: #1267a4;
  font-size: 25px;
  margin-bottom: 15px;
  font-weight: 500;
  line-height: 2.8rem;
}

.md_sectionTitleLine:after{
  content:"";
  display: inline-block;
  height: 0.3em;
  vertical-align: bottom;
  width: 100%;
  margin-right: -100%;
  margin-left: 10px;
  border-top: 1px solid black;
}

.md_h1 {
	font-size: 3rem !important;
	line-height: 3.2rem !important;
	color:#333 !important;
	margin-bottom: 1rem !important;
}

.md_h1_blue {
	font-size: 3rem !important;
	line-height: 3.2rem !important;
	color:#1267a4 !important;
	margin-bottom: 1rem !important;
}

.md_h2, .recordSpotlight h2 {
	font-size: 2.4rem !important;
	line-height: 2.6rem !important;
	margin-bottom: 1rem !important;
	color:#333 !important;
}

.md_h2_blue {
	font-size: 2.4rem !important;
	line-height: 2.6rem !important;
	margin-bottom: 1rem !important;
	color:#1267a4 !important;
}

.md_h3 {
	font-size: 2rem !important;
	line-height: 2.2rem !important;
	color:#333 !important;
	margin-bottom: 0.25rem;
}

.md_h3_blue {
	font-size: 2rem !important;
	line-height: 2.2rem !important;
	color:#1267a4 !important;
	margin-bottom: 0.25rem;
}

.md_div {
	margin-bottom:20px;
}

.md_legal {
	font-size: 0.9rem;
	line-height: 1rem;
	margin-top: 7px;
	margin-bottom: 0px;
}

.md_clear {
	clear: both;
}

.md_ul {
	list-style: none;
	margin-left: 0 !important;
	padding-left: 0 !important;
}

.zone3 a {
	text-decoration: none !important; 
}

.md_ul li {
	padding-left: 0.55em !important;
	text-indent: -0.55em !important;
}

.md_ul li:before {
	content: "›" !important;
	padding-right: 5px !important;
}

.md_btn {
	display: block !important;
	max-width: 155px;
	margin: 1rem 0;
	padding: 0 3rem;
	background: #e35205 !important;
	border: 1px solid #e35205 !important;
}

.md_btn:hover {
	background: #a23b04 !important;
	border: 1px solid #a23b04 !important;
}

.md_btn:active {
	border: 1px solid #e35205 !important;
}

.add-to-cart-btn.md_btn {
	max-width: 155px;
	margin: 1rem 0;
	padding: 0 3rem;
	background: #427d00 !important;
	border: 1px solid #427d00 !important;
}

.add-to-cart-btn.md_btn:hover {
	background: #274a00 !important;
	border: 1px solid #274a00 !important;
}

.add-to-cart-btn.md_btn:active {
	border: 1px solid #427d00 !important;
}

.md_cta_multiline {
	padding: 1 3rem !important;
	line-height: 1.6rem !important;
}